.container {
    width : 100%; 
    height : 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin-top : 20px;
}

.board {
    display : flex;
    justify-content : center;
    align-items : center;
  }
  .active {
    border : 2px solid #a7adc0; 
  }
  
  .line {
    display : flex;
    margin : 3px;
  }
  